<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content-type="width=device-width">
	<title>Scuba Diving | Welcome</title>
	<link rel="stylesheet" href="app.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="js/script.js"></script>
</head>
<body>
<header class="top">
	<div class="container">
        <div id="logo">
            <a href="index.html"><img src="logo.png" height="80" width="100"></a>
        </div>
<nav class="navbar">
	<ul>
		<li class="current"><a href="/" class="navButton">Home</a></li>
		<li><a href="/" class="navButton">Courses</a></li>
		<li><a href="#" class="navButton">Membership</a></li>
		<li><a href="#" class="navButton">Contact</a></li>
	</ul>
</nav>
</div>	
</header>
		  
<section id="showcase">
	<div class="container">
		<img src="logo2.jpg" class="homeImage">		
	</div>
</section>
    
<section id="newsletter">
    <div class="container">
        <h1>Our Services</h1>             
          <blockquote class="blockquote">It’s not about warm water, crystal-clear visibility or sunbathing in the surface interval. It’s about the challenge, the excitement of watching a shadow slowly resolve into a wreck, the pleasure of discovery, and not forgetting… it’s enjoying steaming hot tea and bacon butties like never before.</blockquote>
    </div>
	</div>
</section>	
        
<section id="boxes">
	<div class="container">
		<div class="box">
		    <img src="pic1.jpg">
		 		<h3>Diving</h3>
		 		<p>Lorem ipsum dolor sit amet, cu mei eruditi ceteros eloquentiam, sea graecis maiestatis instructior ad. Omnis feugait petentium te his, ut sea congue maiestatis reprehendunt.</p>
		</div>
	<div class="box">
		<img src="pic3.jpg">
	 	<h3>Pool Sessions</h3>
	 	<p>Scuba diving in a swimming pool is a good way to still keep training event in winter time...  It's also a great opportunity to improve your skills and get your diving certifications. Scuba diving in a swimming pool allow you to keep your physical condition, instead of stop your activity in the winter...

</p>
	</div>
		<div class="box">
		 	<img src="pic2.jpg">
		 	<h3>Snorkelling</h3>
		 	<p>It is accessible to anyone regardless of age and does not require expensive or complicated equipment. .</p>
		</div>
	</div>				
</section>	
		
		<footer>
			<p>© 2018 Scuba, Copyright</p>
		</footer>
</body>
</html>
